{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>WaPay - Login </title>
</head>
<body class="auth-body">
	<section class="auth">
		<!-- <div class="container"> -->
			<div class="auth-card">
				<div class="test">
					<div class="form-block">
						<h3>Sign In</h3>
						<p>
							Don't have an account? <a href="/register">Register</a> 
						</p>
					</div>
					<form action="/login/" method="POST">
						{% if messages %}
							{% for message in messages %}
								{% if message.tags == 'success'%}
									<script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
								{% elif message.tags == 'info' %}
									<script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
								{% elif message.tags == 'warning' %}
									<script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
								{% elif message.tags == 'error' %}
									<script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
								{% endif %}
							{% endfor %}
						{% endif %}
						{% csrf_token %}
						<div class="form-group">
							 <label for="email">Email</label> <br>
							 {{ form.username }}
						</div>
						<div class="form-group">
							<label for="password">Password</label> <br>
							{{ form.password }}
						</div>
	 
						<button type="submit" class="auth-submit">Log In </button>

						
						<div class="form-group forgot-password">
								<a href="#" class="">Forgot Password? </a>
						</div>
		
						
					</form>
				</div>
				
			   
			</div>
		<!-- </div> -->
	</section>
</body>
</html>