{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <link href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap5.min.css">
    <title>WaPay - User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    {% block headcontent %}
    {% endblock headcontent %}
</head>

<body>
    <div class="dashboard-container">
        <nav class="sidebar">
            <div class="logo">
                <h4 class="logo-text">WaPay Wallet</h4>
                <div class="logo-img">
                    <img src="https://image.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg">
                </div>
                <div class="welcome-text">Welcome, <br> {{ user.name }} </div>
            </div>
            <ul class="page-links">
                <li>
                    <a href="/wallet"><i class="fas fa-th-large"></i> Dashboard</a>
                </li>
                <li>
                    <a href="/wallet/transactions"><i class="fas fa-exchange-alt"></i> Transactions</a>
                </li>
                <li>
                    <a href="/wallet/withdraw-wallet"><i class="fas fa-wallet"></i> Wallet Withdraw</a>
                </li>
                <li>
                    <a href="/wallet/fund-wallet"><i class="fas fa-credit-card"></i> Wallet Funding</a>
                </li>
                <li>
                    <a href="/referral"><i class="fa-solid fa-user-group"></i> Refer Users</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-gear"></i> Settings</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-money-bill-wave"></i> Logout </a>
                </li>
            </ul>
        </nav>
        
        <div class="content">
            <nav class="content-nav">
                <div class="input-wrapper">
                    <input id="stuff" placeholder="Test">
                    <label for="stuff" class="input-icon"><i class="fas fa-search"></i></label>
                </div>

                <div class="">
                    <span class="notification">
                        <a href=""><i class="fas fa-bell"></i></a>
                    </span>
                    <span class="profile-img">
                        <img src="https://image.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg">
                    </span>
                </div>
            </nav>
            <div class="content-body">
                <div class="menu-bar">
                    <button class="btn-scroll" id="btn-scroll-left" onclick=scrollHorizontally(1)><i class="fas fa-chevron-left"></i></button>
                    <button class="btn-scroll" id="btn-scroll-right" onclick=scrollHorizontally(-1)><i class="fas fa-chevron-right"></i></button>
                    <div class="menu-icons-container">
                        <div class="icon-circle"> 
                            <div>
                                <a href="/wallet"><i class="fas fa-th-large"></i> <br>
                                    Dashboard</a>
                            </div>
                        </div>
                        <div class="icon-circle"> 
                            <div>
                                <a href="/wallet/transactions"><i class="fas fa-exchange-alt"></i> <br>
                                    Transactions</a>
                            </div>
                        </div>
                        <div class="icon-circle"> 
                            <div>
                                <a href="#"><i class="fas fa-wallet"></i> <br>
                                    Withdraw</a>
                            </div>
                        </div>
                        <div class="icon-circle"> 
                            <div>
                                <a href="#"><i class="fas fa-credit-card"></i> <br>
                                    Funding</a>
                            </div>
                        </div>
                        <div class="icon-circle"> 
                            <div>
                                <a href="#"><i class="fas fa-gear"></i> <br>
                                    Settings</a>
                            </div>
                        </div>
                        <div class="icon-circle"> 
                            <div>
                                <a href="#"><i class="fas fa-dollar-sign"></i> <br>
                                    Exchange</a>
                            </div>
                        </div>
                        <div class="icon-circle"> 
                            <div>
                                <a href="/referral/"><i class="<i class="fa-solid fa-user-group"></i>"></i> <br>
                                    Refer</a>
                            </div>
                        </div>
                        <div class="icon-circle"> 
                            <div>
                                <a href="#"><i class="fa-solid fa-arrow-up-from-bracket"></i> <br>
                                    Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>



	<!-- JQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- Toastr JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!--  Toastr -->
	{% if messages %}
		{% for message in messages %}
			{% if message.tags == 'success' %}
			<script>
				let message = '{{ message }}';
				toastr.options = {
					"closeButton": true,
					"debug": false,
					"newestOnTop": false,
					"progressBar": true,
					"preventDuplicates": true,
					"onclick": null,
					"showDuration": "1000",
					"hideDuration": "1000",
					"timeOut": "5000",
					"extendedTimeOut": "1000",
					"showEasing": "swing",
					"hideEasing": "linear",
					"showMethod": "show",
					"hideMethod": "hide"
				};
				toastr.success(message);		
			</script>
			{% endif %}
		{% endfor %}
	{% endif %}
    <script src="{% static 'js/script.js' %}"></script>

    {% block jscontent %}
    
    {% endblock jscontent %}
</body>

</html>