
{% extends 'html/wallet/base.html' %} 
{% block content %}

{% load humanize %}
<div class="content-body">
	<div class="balance">
		<p class="wallet-text">Account Details </p>
		<div class="wallet-info">
			<p>Wallet Number</p>
			<h4>{{ wallet_number }}</h4>
		</div>
		<div class="balance-action">
			<p>Wallet Balance: <span> ${{ balance }}</span> </span>
			<div class="balance-button-group">
				<a href="send-fund"><button>Send</button></a>
				<a href="receive-fund"><button id="receive_fund_btn">Receive</button></a>
			</div>
		</div>
	</div>
	<div class="account">
		<p>Transactions </p>
		<div class="account-transactions">
			<div class="account-transaction-breakdown">
				<h4>Total Amount Sent</h4>
				<div class="account-transaction-amount">
					{{ amount_sent|floatformat:2|intcomma }}
				</div>
			</div>
			<div class="account-transaction-breakdown">
				<h4>Total Amount Received</h4>
				<div class="account-transaction-amount">
					${{  amount_received|floatformat:2|intcomma }}
				</div>
			</div>
			<div class="account-transaction-breakdown">
				<h4>Number of Transaction</h4>
				<div class="account-transaction-amount">
					{{ transaction_times }}
				</div>
			</div>
		</div>
	</div>
	<div class="overview">
		<h2>Overview</h2>
		<div class="overview-items">
			<div class="overview-item">
				<p class="transact-history">Latest Transaction</p>
				<div class="transact-tables">
					{% if transactions %}
					<table>
						<thead>
							<tr>
								<th>Date</th>
								<th>Name</th>
								<th>Type</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody>
								{% for transaction in transactions %}
								<tr>
									<td>{{ transaction.date }}</td>
									<td>Adedeji Oluwadamisola</td>
									<td>{{ transaction.type }}</td>
									<td>${{ transaction.amount }}</td>
								</tr>
								{% endfor %}
							
						</tbody>
					</table>
					<button><a href="#">View More</a></button>
					{% else %}
						<div>
							<p>No Transaction Yet</p>
						</div>
					{% endif %}
				</div>

			</div>

			<div class="overview-item">
				<p class="converter-text">Currency Converter</p>
				<div class="converter-overview">
					<p>Convert from naira to any other currency.</p>
					<div class="converter-action">
						<input type="text" name="amount">
						<button>Convert</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock content %}