{% extends 'html/wallet/base.html' %} 
{% block content %}
	<div class="wallet-transaction">
		<form action="/wallet/send-fund/" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label>Wallet Number: </label> <br>
				<input type="text" id="wallet_no" name="wallet_number" placeholder="Wallet Number" required> <br>
			</div>
			<div class="form-group">
				<label>Amount: </label> <br>
				<input type="text" id="amount" name="amount" placeholder="Amount"> <br>
			</div>
			<p><button type="submit" id="submit">Send Fund</button></p>
		</form>
	</div>
{% endblock content %}