{% extends 'html/wallet/base.html' %} 
{% block content %}
	<div class="balance">
		<p class="wallet-text">Account Details </p>
		<div class="wallet-info">
			<p>Wallet Number</p>
			<h4>{{ wallet_number }}</h4>
		</div>
		<div class="balance-action">
			<p>Wallet Balance: <span> ${{ balance }}</span> </span>
			<div class="balance-button-group">
				<a href="send-fund"><button>Send</button></a>
				<a href="receive-fund"><button id="receive_fund_btn">Receive</button></a>
			</div>
		</div>
	</div>
	<div class="wallet-transaction">
		<form action="/wallet/send-fund/" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label>Wallet Number: </label> <br>
				<input type="text" id="wallet_no" name="wallet_number" placeholder="Wallet Number" required> <br>
			</div>
			<div class="form-group">
				<label>Amount: </label> <br>
				<input type="text" id="amount" name="amount" placeholder="Amount"> <br>
			</div>
			<p><button type="submit" id="submit">Send Fund</button></p>
		</form>
	</div>
{% endblock content %}