{% extends 'html/wallet/base.html' %} 
{% block content %}
<div class="content-body">
	<div class="balance">
		<p class="wallet-text">Account Details </p>
		<div class="wallet-info">
			<p>Wallet Number</p>
			<h4>{{ wallet_number }}</h4>
		</div>
		<div class="balance-action">
			<p>Wallet Balance: <span> ${{ balance }}</span> </span>
			<div class="balance-button-group">
				<a href="send-fund"><button>Send</button></a>
				<a href="receive-fund"><button id="receive_fund_btn">Receive</button></a>
			</div>
		</div>
	</div>
	<div class="wallet-transaction">
		<form action="/wallet/withdraw-wallet/" method="POST">
			{% csrf_token %}

			<div class="form-group">
				<label>Account Bank: </label>
				<br>
				<!-- <input type="text" id="account-bank" name="account_bank" placeholder="Account Bank"> <br> -->

				<select name="account_bank" id="account_bank" class="select" required>
					<option>Choose Bank</option>
					{% for bank in bank_list %}
					<option value="{{ bank.code }}" >{{ bank.name }}</option>
					{% endfor %}
				  </select>
			</div>
			
			<div class="form-group">
				<label>Account Number: </label>
				<br>
				<input type="text" id="account-number" name="account_number" placeholder="Account Number"> <br>
			</div>
			
			<div class="form-group">
				<label>Amount: </label>
				<br>
				<input type="text" id="amount" name="amount" placeholder="Amount"> <br>
			</div>
			
			<div class="form-group">
				<label>Narration: </label>
				<br>
				<textarea name="" id="narration"  name="narration" rows="5"></textarea> <br>
		
			</div>
			
			<p><button type="submit" id="submit">Withdraw</button></p>
		</form>
	</div>
	
</div>
{% endblock content %}

